li::marker{
 color:#ffa233 !important;
}

li::first-letter{
 text-transform:capitalize !important;
}

.form-custom-control{
  width:5%;
  text-align:center !important;
}

.form-custom-control:focus{
  box-shadow:none !important;
}

.btn-seeMore{
  background-color:#ffa233;
  border:none;
  padding:9px;
  color:#fff;
  cursor:pointer;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
}

.btn-seeMore:focus{
  box-shadow:none !important;
}

@media (max-width: 576px){
 .form-custom-control{
   width:21% !important;
   text-align:center !important;
  }
}